@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

main {
    padding: 80px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.name {
    border: 3px solid white;
    padding: 20px;
    transition: all 500ms;
}

.name:hover {
    background-color: aliceblue;
}

.cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.card {
    border: 3px solid white;
    padding: 10px;
    min-width: 200px;
    min-height: 200px;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    transition: all 500ms;
    margin: 10px;
    cursor: pointer;
}

.card:hover {
    background-color: aliceblue;
}
