@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

main {
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div {
    font-weight: 400;
    width: 100%;
    text-align: center;
}

.pranjal {
    text-align: left;
}


.last {
    text-align: right;
}

.sunny {
    width: 100%;
    font-size: 6rem;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
/*
img {
    transform: translateY(-6px);
} */
