@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}

main {
    padding: 80px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.name {
    border: 3px solid white;
    padding: 20px;
    transition: all 500ms;
}

.name:hover {
    background-color: aliceblue;
}

.aaravsRedBox {
    width: 200px;
    height: 200px;
    background-color: red;
    position: fixed;
    top: 0;
    right: 0;
    color: black;
    display: flex;
    flex-direction:column-reverse;
    padding: 5px;
}
